<ion-view>
	<ion-content>
		<div class="user-bar">
			<div class="pre-icon">
				<img
					ng-if="avatarUrl === null"
					class="icon icon-left"
					src="/img/user.png"
					alt="User"
					ng-click="propagateClickTo('file')">

				<img
					ng-if="avatarUrl !== null"
					class="icon icon-left avatar"
					ng-src="{{ avatarUrl }}"
					ng-click="propagateClickTo('file')"
					alt="User">

				<input
					id="file"
					type="file"
					name="image"
					accept="image/*"
					ng-hide="true"
					onchange="angular.element(this).scope().uploadAvatar(this.files)" />
			</div>

			<div class="pre-icon" ng-click="navigate()">
				<img
					class="icon icon-right"
					src="/img/notification.png"
					alt="Notification"
					ng-show="notifications.length === 0">

				<img
					class="icon icon-right"
					src="/img/notification-in.png"
					alt="Notification In"
					ng-show="notifications.length > 0">
			</div>
		</div>
	</ion-content>
</ion-view>