<ion-view>
	<ion-content scroll="false">
		<a href="#/" class="pre-icon">
			<img src="/img/back.png" class="icon" alt="Back">
		</a>

		<div class="no-notifications" ng-if="notifications.length === 0">
			No notifications
		</div>

		<div id="notifications-modal" class="custom-modal">
			<div class="custom-modal-content">
				<span
					class="close"
					ng-click="closeNotification(notification.id)">&times;
				</span>

				<div ng-click="expandNotification()">
					<span>
						{{ notification.receivedOn }} minutes ago
					</span>

					<h3 ng-bind-html="notification.title"></h3>
					<p ng-if="!modal.isExpanded" ng-bind-html="notification.excerpt"></p>
					<p ng-if="modal.isExpanded" ng-bind-html="notification.full"></p>
					<div ng-if="modal.isExpanded">
						<div class="notification-pre-image">
							<input
								id="file"
								type="file"
								name="image"
								accept="image/*"
								ng-hide="true"
								onchange="angular.element(this).scope().uploadAvatar(this.files)" />

							<img
								alt="Notification Image"
								ng-src="{{ notification.image }}"
								ng-click="propagateClickTo('file')">
						</div>

					<div class="notification-pre-button">
						<button
							class="button button-energized"
							ng-click="closeNotification(notification.id)">
							Got It
						</button>
					</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>