.user-bar {
	display: flex;
	padding-top: 10px;
}

.pre-icon {
	width: 50%;
	text-align: center;
	margin: 0 auto;
}

.icon {
	width: 50px;
}

.icon-left {
	margin-right: 50%;
}

.icon-right {
	margin-left: 50%;
}